/*----FONTS-----*/

@font-face {
  font-family: "Brandon-Light";
  src: url("../fonts/BrandonText-Light.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Brandon-Regular";
  src: url("../fonts/BrandonText-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Brandon-Bold";
  src: url("../fonts/BrandonText-Bold.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Brandon-Black";
  src: url("../fonts/BrandonText-Black.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Stabile";
  src: url("../fonts/Stabile W00 Regular.ttf");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

/*----LOADER-----*/

.loader {
  position: fixed;
  background: var(--amarillo);
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  z-index: 99;
  animation-name: transicionLoader;
  animation-duration: 1s;
  animation: transicionLoader 1s ease-out;
}

@keyframes transicionLoader {
  0% {
    height: 100vh;
  }
  50% {
    height: 100vh;
  }
  100% {
    height: 0;
  }
}

/*----GENERALS-----*/

:root {
  --amarillo: #ffcc00;
  --grisClaro: #b2b2b1;
  --grisOscuro: #4f4f4e;
}

body {
  overflow-x: hidden;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.center {
  align-items: center;
  justify-content: center;
}
.txt-negro {
  color: black;
}
.txt-blanco {
  color: white;
}
h1,
h2,
h3,
h4,
strong,
a {
  font-family: "Brandon-Bold";
  font-weight: normal;
}
p {
  font-family: "Brandon-Regular";
  text-transform: uppercase;
  font-weight: normal;
  font-size: 18px;
}

header {
  position: absolute;
  background: transparent;
  top: 0;
  height: 150px;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  z-index: 30;
}
header a {
  color: gray;
}
header a:hover {
  color: black;
}
.header-fondo {
  position: absolute;
  background: white;
  top: 0;
  height: 150px;
  width: 100%;
  z-index: 5;
}
header img {
  max-width: 200px;
}
header nav {
  margin-bottom: 40px;
}
header li a {
  margin-left: 40px;
}
.menu-movil {
  display: none;
}

.boton-menu {
  display: none;
}
.avion img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  margin-top: -35px;
}
.hero {
  position: relative;
  top: 0;
  background: transparent;
  height: 100vh;
  width: 100%;
  padding-top: 30vh;
  z-index: 20;
}
.hero-fondo {
  position: absolute;
  top: 0;
  background: var(--amarillo);
  height: 100vh;
  width: 100%;
  border: solid 20px white;
}

.hero h1 {
  line-height: 1.2;
  font-size: 33px;
  text-align: center;
  font-family: "Brandon-Regular";
  font-weight: normal;
  color: black;
}
.hand {
  font-family: "Stabile" !important;
  font-size: 66px !important;
  font-weight: normal;
}
.hand-blanco {
  color: white;
}
.sigue-leyendo {
  margin-top: 30px;
}
.sigue-leyendo a {
  color: black;
}
.sigue-leyendo a:hover {
  color: white;
}
.flecha {
  width: 30px;
  margin-top: -5px;
}

@keyframes text-clip {
  0% {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
.hero h1:nth-child(1) {
  animation: text-clip 2s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
}
.hero h1:nth-child(2) {
  animation: text-clip 2s 1.1s cubic-bezier(0.5, 0, 0.1, 1) both;
}
.hero h1:nth-child(3) {
  animation: text-clip 2s 1.2s cubic-bezier(0.5, 0, 0.1, 1) both;
}
.hero h1:nth-child(4) {
  animation: text-clip 2s 1.3s cubic-bezier(0.5, 0, 0.1, 1) both;
}
.hero h1:nth-child(5) {
  animation: text-clip 2s 1.4s cubic-bezier(0.5, 0, 0.1, 1) both;
}
.hero h1:nth-child(6) {
  animation: text-clip 2s 1.6s cubic-bezier(0.5, 0, 0.1, 1) both;
}
.hero .sigue-leyendo {
  animation: text-clip 2s 1.8s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.padding {
  padding: 100px 40px;
}
.titular {
  font-family: "Brandon-Black";
  font-weight: normal;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: center;
}
.titular-mediano {
  font-size: 40px;
  margin-top: 50px;
}
.video-general img {
  width: 80%;
}
.que-buscamos p {
  max-width: 650px;
  text-align: center;
}
.carrusel {
  justify-content: space-between;
  padding: 50px 5%;
}
.carrusel img {
  width: 22%;
  transition: all 0.2s;
  cursor: pointer;
}
.carrusel img:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
}
.caja-icono {
  max-width: 300px;
  text-align: center;
  margin: 30px;
  justify-content: flex-start;
}
.caja-icono img {
  max-width: 60%;
}
.que-buscamos,
.hacer {
  background: var(--amarillo);
  border: solid 20px white;
}
.hacer-imagen img {
  width: 80%;
}
.hacer-imagen,
.hacer-contenedor-textos {
  max-width: 50%;
  padding: 20px;
}
.hacer-imagen {
  align-items: center;
  justify-content: flex-end;
}
.hacer-contenedor-textos {
  align-items: flex-start;
}
.hacer-textos {
  width: 70%;
  align-items: center;
}
.hacer-textos img {
  width: 120px;
  margin-right: 10px;
}
.galeria {
  background: lightgray;
  width: 100%;
  height: 100vh;
}
footer {
  background: #4f4f4e;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  color: white;
}
footer img {
  max-width: 200px;
}
footer p {
  text-transform: lowercase;
  font-size: 12px;
}
footer a {
  color: white;
}
.enlaces-footer a {
  font-size: 14px;
  margin: 0 20px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}
.enlaces-footer a:hover {
  border-bottom: 2px solid white;
}
.instagram {
  margin: 0 20px;
}
.instagram a:hover {
  color: var(--amarillo);
}

@media (max-width: 1024px) {
  .row {
    flex-direction: column !important;
  }
  .padding {
    padding: 80px 20px;
  }
  .titular {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .titular-mediano {
    font-size: 30px;
    margin-bottom: 0px;
  }
  header {
    height: 120px;
  }
  .header-fondo {
    height: 120px;
  }
  header img {
    max-width: 150px;
  }
  header nav {
    display: none;
  }
  .boton-menu {
    display: block;

    width: 30px;
  }
  .hero h1 {
    font-size: 23px;
  }
  .hand {
    font-size: 36px !important;
  }
  .avion img {
    margin-top: -95px;
  }
  .carrusel img {
    width: 100%;
    margin-bottom: 40px;
  }
  .carrusel img:nth-child(4) {
    margin-bottom: 0px;
  }
  .hacer-imagen,
  .hacer-contenedor-textos {
    max-width: 100%;
    padding: 0px;
  }
  .hacer-imagen {
    justify-content: center;
  }
  .hacer-imagen img {
    width: 100%;
  }
  .hacer-textos {
    width: 100%;
    align-items: center;
  }
  .hacer-textos p {
    text-align: center;
    margin-bottom: 40px;
  }
  footer {
    text-align: center;
  }
  .enlaces-footer {
    margin: 20px 0;
  }
  .enlaces-footer a {
    margin: 5px 0;
  }
  .instagram {
    margin-bottom: 20px;
  }
}
.pop-up-video {
  height: 100vh;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: center;
  z-index: 98;
}

.cerrar {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.boton-cerrar {
  position: absolute;
  width: 20px;
  top: 50px;
  right: 50px;
  z-index: 98;
  z-index: 99;
  cursor: pointer;
}

.video {
  height: 90vh;
  z-index: 99;
}

.none {
  display: none;
}
